<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Carrot2Test/examples/org/carrot2/examples/clustering/ClusteringNonEnglishContent.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.carrot2.examples.clustering.ClusteringNonEnglishContent"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Carrot2Test"/>
</launchConfiguration>
